<section class="cuisines">

  <div class="title">Cuisines</div>

  <nav class="select-cuisine">
    <a
      ng-repeat="l in cuisines"
      ng-class="{ active: l.data == cuisine }"
      class="pipes"
      ui-sref="cuisines({ cuisine: l.data, name: [] })"
      ui-sref-active="active"
      ng-click="restaurantActive = 0"
    >{{l.label}}</a>
  </nav>

  <div class="restaurant-block"
    ng-model = "selected"
    ng-repeat="restaurant in restaurants_by_cuisine"
    ng-click="chooseRestaurant(restaurant)"
    ng-class="{ 'visible': restaurantActive}">
    {{restaurant.Name}}
  </div>

  <div class="page">
    {{restaurantPageData.Name}}
    {{restaurantPageData.Address}}
    {{restaurantPageData.Chef}}
    {{restaurantPageData.Meals}}
    {{restaurantPageData.Entertainment}}
  </div>

</section>
