<section class="cuisines">
  <nav class="select-cuisine">
    <a
      ng-repeat="l in cuisines"
      ng-class="{ active: l.data == cuisine }"
      class="pipes"
      ui-sref="cuisines({ cuisine: l.data, name: [] })"
      ui-sref-active="active"
      ng-click="restaurantActive = 0"
    >{{l.label}}</a>
  </nav>
</section>

<div class="rest-cuisines">
  <h2 class="rest-title">{{cuisine}}</h2>
  <div class="restaurant-boxes col-xs-6 col-sm-4 col-md-4 col-lg-3"
    ng-model = "selected"
    ng-repeat="restaurant in restaurants_by_cuisine"
    ng-click="chooseRestaurant(restaurant)"
    ng-class="{ 'visible': restaurantActive}">
    <img src="./assets/restaurant.jpg"></img>
    {{restaurant.Name}}
  </div>
</div>
