<section class="guides">

  <div class="title">guides</div>

  <nav class="select-guide">
    <a
      ng-repeat="l in guides"
      ng-class="{ active: l.data == guide }"
      class="pipes"
      ui-sref="guides({ guide: l.data, name: [] })"
      ui-sref-active="active"
      ng-click="restaurantActive = 0"
    >{{l.label}}</a>
  </nav>

  <div class="restaurant-block"
    ng-model = "selected"
    ng-repeat="restaurant in restaurants_by_guide"
    ui-sref="cuisines({ cuisine: restaurant.Cuisine, name: restaurant.URLname })"
    ng-class="{ 'visible': restaurantActive}">
    {{restaurant.Name}}
  </div>

</section>
