<section class="guides">
  <nav class="select-guide">
    <a
      ng-repeat="l in guides"
      ng-class="{ active: l.data == guide }"
      class="pipes"
      ui-sref="guides({ guide: l.data, name: [] })"
      ui-sref-active="active"
      ng-click="restaurantActive = 0"
    >{{l.label}}</a>
  </nav>
</section>

<div class="rest-guides">
  <h2 class="rest-title">{{guide}}</h2>
  <div class="restaurant-boxes col-xs-6 col-sm-4 col-md-4 col-lg-3"
    ng-model = "selected"
    ng-repeat="restaurant in restaurants_by_guide"
    ng-click="chooseRestaurant(restaurant)"
    ng-class="{ 'visible': restaurantActive}">
    <img src="./assets/restaurant.jpg" />
    {{restaurant.Name}}
  </div>
</div>