<section class="regions">

  <div class="title">Regions</div>

  <nav class="select-region">
    <a
      ng-repeat="l in regions"
      ng-class="{ active: l.data == region }"
      class="pipes"
      ui-sref="regions({ region: l.data, name: [] })"
      ui-sref-active="active"
      ng-click="restaurantActive = 0"
    >{{l.label}}</a>
  </nav>

  <div class="restaurant-block"
    ng-model = "selected"
    ng-repeat="restaurant in restaurants_by_region"
    ng-click="chooseRestaurant(restaurant)"
    ng-class="{ 'visible': restaurantActive}">
    {{restaurant.Name}}
  </div>

  <div ng-include=" 'restaurantPage.html' "></div>

</section>
