<section class="regions">

  <div class="title">Regions</div>

  <nav class="select-region">
    <a
      ng-repeat="l in regions"
      ng-class="{ active: l.data == region }"
      class="pipes"
      ui-sref="regions({ region: l.data })"
      ui-sref-active="active"
    >{{l.label}}</a>
  </nav>

  <div class="restaurants-container">
    <div class="restaurant-block" ng-repeat="restaurant in restaurants_by_region"><a href={{restaurant.StoryPageLink_WCM}} target="_blank"><div class="name">{{restaurant.Name}}</div></a>
    </div>
  </div>

</section>
