.banner {
  .top100-logo {
    width: 200px;
    margin: auto;
    margin-top: 20px;
  }
}

.centerpiece {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	width:100%;

	img {
	  width:100%;
	}
}