#restaurant {
  
  .container {
    width:100%;
    max-width:800px;
    margin:2em auto 4em;
  }

  .rest-img {
    width:100%;

  }

  .content {
    margin-top: 2em;
  }

}

#infobox {

  float: left;
  max-width: 30%;
  text-align: left;
  font-family: @sans;
}

#article {

  float: right;
    width: 69%;
    padding-left: 2em;
    text-align: left;

    h1 {
      margin-top:0;
    }
}