.top100 {
  max-width: 1200px;
  margin: 0 auto;
}

.parag {
  padding-bottom: 5px;
}

.read-more {
  cursor: pointer;
  padding-bottom: 15px;
  .fa-hand-o-right {
    padding-right: 10px;
    //vertical-align: middle;
  }
  &.visible {
    display: none;
  }
}

.story-text {
  display: block;
  &.visible {
    display: none;
  }
}

.story-text-part2 {
  display: none;
  &.active {
    display: block;
  }
  &.visible {
    display: none;
  }
}